@import "rouge-base16-dark";
@import "default_colors";

html, body { background: black; }

html { height: 100%; }

body {
  color: white;
  font-family: monospace;
  font-size: 16.3px;
  line-height: 1.3;
  margin: 0;
  min-height: 100%;
}

.post-meta { 
  text-align: right;
}

h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 940px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table, th, td {
  width: 100%;
  border: thin solid white;
  border-collapse: collapse;
  padding: 0.4rem;
}

pre.highlight { 
  overflow: auto;
  overflow-y: hidden;
  border: 3px solid rgba(44, 44, 44, 0.486);
  border-radius: 5px;
  padding: 5px 5px;
}

code.highlighter-rouge {
  background: rgba(82, 81, 81, 0.9);
  border: 1px solid gray;
  padding: 0px 3px;
  margin: 0px -3px;
  color: #ebd7e7;
  border-radius: 2px;
}


blockquote {
  font-style: italic;
  border: thin solid gray;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

body a {
  text-decoration: none;
}

body a:visited {
    color: cornflowerblue;
}

body a:hover {
    border-bottom: 2px dashed;
    font-weight: bold;
}

/*
* footer from minima
**/
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
$spacing-unit:     30px !default;
$on-large:         $on-laptop !default;
@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}


.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper, .social-links {
  font-optical-sizing: 0.9rem;
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}


/**
 * Pagination navbar
 **/
 .pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}


/**
 * Icons
**/

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 0px;
  vertical-align: text-bottom;
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}